*{
    box-sizing: border-box;
    
    
font-family: 'Roboto Slab', serif;
    
}
body{
    margin: 0;
    /* background-image: url(media1/blockw3.jpg); */
    background-color: #0D2027;
}

.des-hr{
    border: 1px solid white;
    margin-top: 0;
}

/* Nab bar start heare */
#navbar{
    background-image: url(media1/block.jpg);
    
    text-align: center;
    margin-top: 0;
}
#navbar::after{
    clear: both;
    display: table;
    content: '';
}
#navbar .nav-head h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.8rem;
    text-align: center;
    color: rgb(228, 214, 214);
    margin: 0;
    /* padding-top: 10px; */
    padding-left: 80px;
}

/* Manu bar a link */
.nav-menu a{
    font-family: 'Fira Sans','Montserrat','Satisfy';
    color: white;
    font-size: 1rem;
    text-decoration: none;
    background-color: rgba(187, 185, 185, 0.192);
    border-radius: 5px;
    margin: 7px 0;
    padding: 10px;
}
.nav-menu a:hover{
    background-color: rgba(128, 128, 128, 0.575);
}
.nav-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}
/* For Mobail width */
[class*="col-"]{
    width: 100%;
}
/* nav bar End heare */

/* profostional-exp start here */
.profostional-exp{
    padding: 1% 0%;
}
.work-exp{
    text-align: center;
}
.work-exp li{
    text-align: left;
    
}
.profostional-exp .card{
    /* background-color: #a39e9e; */
    background-color: #1C4B5B;
    border-radius: 10px;
    padding: 10px;
    transition: 0.4s;
    height: 700px;
}
.card:hover{
    box-shadow: 0 4px 8px 5px rgb(245, 237, 237);
}
.card-icon img{
    width: 100px;
    margin-top: 20px;
    height: 110px;
}
.round-img{
    border: 5px solid white;
    border-radius: 50%;
    padding: 3px;
}
.card-icon {
    text-align: center;
}
.card-titiel h2{
    background-color: #0296ff60;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.card-desc ol li{
    margin: 0px;
}
.profostional-exp::after{
    content: '';
    display: table;
    clear: both;
}
/* profostional-exp end here */

/* progress animation */

.progres-ani{
    background-color: gray;
    
    padding: 10px 10px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
}
.progres-ani li{
    list-style-type: none;
    margin: 45px 0;
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
}
.progres-ani li::before{
    content: '';
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    border-radius: 1000px;
    background-color: rgba(202, 186, 186, 0.705);
    width: 100%;
    height: 15px;
}
.progres-ani li::after{
    content: '';
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    border-radius: 1000px;
    background-color: rgba(245, 244, 238, 0.705);
    width: 0;
    height: 15px;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}

.progres-ani li.html102::after{
    animation-name: html102;
}
@keyframes html102{
    to{
        width: 80%;
        background-color: rgb(236, 155, 3);
    }
}
.progres-ani li.css1::after{
    animation-name: css1;
}
@keyframes css1{
    to{
        width: 70%;
        background-color: rgb(226, 47, 2);
    }
}
.progres-ani li.java1::after{
    animation-name: java1;
}
@keyframes java1{
    to{
        width: 60%;
        background-color: rgb(47, 201, 8);
    }
}
.progres-ani li.python1::after{
    animation-name: python1;
}
@keyframes python1{
    to{
        width: 50%;
        background-color: rgb(3, 228, 179);
    }
}
.progres-ani li.recat1::after{
    animation-name: recat1;
}
@keyframes recat1{
    to{
        width: 65%;
        background-color: rgb(6, 96, 214);
    }
}
.progres-ani li.php1::after{
    animation-name: php1;
}
@keyframes php1{
    to{
        width: 50%;
        background-color: rgb(87, 3, 243);
    }
}
.progres-ani li.js1::after{
    animation-name: js1;
}
@keyframes js1{
    to{
        width: 60%;
        background-color: rgb(212, 5, 185);
    }
}
/* progress end */

/* footer desine start here  */
#footer1{
    position: relative;
}
#footer1 footer{
   background-color: #070808;

   display: flex;
   flex-direction: column;
}
footer{
    color: white;
    padding: 10px;
}
.adderss2 a{
    text-decoration: none;
    justify-content: right;
    color: rgb(145, 74, 74);
}
.adderss2 a:hover{
    color: seagreen;
}
#footer1::after{
    display: table;
    content: '';
    clear: both;
}
/* footer desine End here  */